@import "../css/range.min.css";
input[type=range] {
  -webkit-appearance: none;
  margin: 15px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #424242;
  border-radius: 5px;
  border: 1px solid black;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid white;
  height: 30px;
  width: 30px;
  border-radius: 8px;
  background: #555bc8;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #4f4f4f;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #424242;
  border-radius: 5px;
  border: 1px solid black;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid white;
  height: 30px;
  width: 30px;
  border-radius: 8px;
  background: #555bc8;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 30px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #353535;
  border: 1px solid black;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #424242;
  border: 1px solid black;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  border: 1px solid white;
  height: 30px;
  width: 30px;
  border-radius: 8px;
  background: #555bc8;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #424242;
}
input[type=range]:focus::-ms-fill-upper {
  background: #4f4f4f;
}

.rangeslider {
  position: relative;
  display: block;
  cursor: pointer;
  height: 25px;
  width: 100%;
}
.rangeslider__fill {
  background: #F99205;
}
.rangeslider__tooltip {
  padding: 5px 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: absolute;
  top: -43px;
  width: 50px;
  background: #4E555E;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  font-family: Circe, sans-serif;
  color: #ffffff;
  line-height: 1;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.rangeslider__fill, .rangeslider__fill__bg, .rangeslider__handle {
  display: block;
  position: absolute;
  top: 50%;
  height: 2px;
  z-index: 2;
  will-change: width;
}

.rangeslider__handle {
  width: 1.2em;
  height: 1.2em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #F99205;
  background: #2B2F34;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.rangeslider__handle:active {
  background: #F99205;
}

.rangeslider__fill__bg {
  background: #ccc;
  width: 100%;
}

.rangeslider--disabled {
  opacity: 0.4;
}

.podlozhka__more {
  display: none;
}
.podlozhka__more.active {
  display: block;
}

/*# sourceMappingURL=style.css.map */
